#add {
    padding: 1%;
    font-size: larger;
    background-image: linear-gradient(white, gray, white);
    box-shadow: 2px 2px gray;
    border: 2px #333 solid;
}
main {
    text-align: center;
    padding-top: 1%;
}
 
input{
    padding: 1%;
    font-size: larger;
    margin-bottom: 2%;
    margin-left: 1%;
    text-align: center;
}

.box:checked + .task {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(gray,black,gray);
    text-decoration: line-through;
}

#del {
    padding: 1%;
}